/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container-styles {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 8rem;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar .toggle {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.navbar .hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background-color: #1b98e0;
  opacity: 0.85;
}
@media (min-width: 768px) {
  .navbar .hamburger {
    display: none;
  }
}
.navbar .hamburger > div {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #e8f1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.navbar .hamburger > div:before,
.navbar .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -12px;
  width: 100%;
  height: 4px;
  background: #e8f1f2;
}
.navbar .hamburger > div:after {
  top: 12px;
}
.navbar .toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.navbar .toggle:checked + .hamburger > div:before,
.navbar .toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.navbar .toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.navbar .toggle:checked ~ .nav {
  visibility: visible;
}
.navbar .toggle:checked ~ .nav > div {
  transform: scale(1);
  transition-duration: 0.5s;
}
.navbar .toggle:checked ~ .nav > div > div {
  opacity: 1;
  transition: opacity 0.75s ease;
}
.navbar .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .navbar .nav {
    visibility: visible;
    align-items: flex-start;
    height: 6rem;
  }
}
.navbar .nav > div {
  background: #1b98e0;
  opacity: 0.98;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .navbar .nav > div {
    transform: scale(1);
    border-radius: 0;
    width: 100%;
    height: 6rem;
    flex: auto;
    transition: none;
    justify-content: flex-start;
  }
}
.navbar .nav > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media (min-width: 768px) {
  .navbar .nav > div > div {
    opacity: 1;
    max-width: 100%;
    max-height: 6rem;
    transition: none;
  }
}
.navbar .nav > div > div ul {
  padding: 0;
}
@media (min-width: 768px) {
  .navbar .nav > div > div ul {
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
    height: 100%;
  }
}
.navbar .nav > div > div ul li {
  list-style: none;
  padding: 3rem;
}
@media (min-width: 768px) {
  .navbar .nav > div > div ul li {
    height: 100%;
    padding: 0;
  }
}
.navbar .nav > div > div ul li a {
  font-size: 3.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #e8f1f2;
  text-decoration: none;
  transition: color 0.5s ease;
}
@media (min-width: 768px) {
  .navbar .nav > div > div ul li a {
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0 2rem;
    color: #e8f1f2;
  }
}
.section-home {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom right, rgba(232, 241, 242, 0.85), #e8f1f2);
}
.section-home:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../imgs/blue-close-up-computer-keyboard.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-home .container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-home .container .logo {
  display: flex;
  align-items: center;
}
.section-home .container .logo .main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-family: 'Lato', sans-serif;
  margin: 5rem 0;
}
.section-home .container .secondary-heading {
  font-family: 'Lato', sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin: 3rem 0;
}
.section-home .container p {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  margin: 3rem 2rem;
}
.section-home .container .button {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  background-color: #13293d;
  border: 1px solid #13293d;
  color: #e8f1f2;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.section-home .container .button:hover {
  background-color: #e8f1f2;
  color: #13293d;
}
.section-features .container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 8rem;
  padding: 4rem 0;
}
.section-features .container h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3.6rem;
  margin: 6rem 0;
  text-align: center;
}
.section-features .container .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .section-features .container .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.section-features .container .features .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  padding: 2rem;
  border: 1px solid #247ba0;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .section-features .container .features .feature {
    width: 40%;
    height: 150px;
  }
  .section-features .container .features .feature img {
    padding: 5rem;
  }
}
.section-features .container .features .feature h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}
.section-features .container .features .feature p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
}
.section-features .container .feature:nth-child(1) {
  background-color: #247ba0;
  color: #e8f1f2;
  border-radius: 5px;
}
.section-features .container .feature:nth-child(4) {
  background-color: #247ba0;
  color: #e8f1f2;
  border-radius: 5px;
}
.section-about .container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .section-about .container {
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
  }
}
.section-about .container h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3.6rem;
}
@media (min-width: 768px) {
  .section-about .container h1 {
    height: 100%;
  }
}
.section-about .container .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .section-about .container .about {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 4rem;
  }
}
.section-about .container .about .tabs {
  width: 25%;
  height: 50%;
  display: none;
}
@media (min-width: 768px) {
  .section-about .container .about .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }
}
.section-about .container .about .tabs .tab-link {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 1.4rem;
  font-size: 1.8rem;
  border-radius: 5px;
}
.section-about .container .about .tabs .tab-link-selected {
  background-color: #247ba0;
  color: #e8f1f2;
}
.section-about .container .about .tab-items {
  width: 100%;
  height: 50%;
  margin: 0 2rem;
}
@media (min-width: 768px) {
  .section-about .container .about .tab-items {
    padding: 0;
    margin-bottom: 8rem;
  }
}
@media (min-width: 768px) {
  .section-about .container .about .tab-items .tab-item {
    display: none;
  }
}
.section-about .container .about .tab-items .tab-item .img {
  margin: 2rem 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: grey;
}
.section-about .container .about .tab-items .tab-item h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 0;
  border-top: 1px solid #247ba0;
  border-bottom: 1px solid #247ba0;
  border-right: 1px solid #247ba0;
  width: 100%;
}
.section-about .container .about .tab-items .tab-item p {
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  padding: 2rem;
  border-bottom: 1px solid #247ba0;
  border-left: 1px solid #247ba0;
}
@media (min-width: 768px) {
  .section-about .container .about .tab-items .tab-item-selected {
    display: block;
  }
}
html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
}
