// Features Page Styles
.section-features .container {
  .container-styles;

  padding: 4rem 0;
  h1 {
    font-family: @font-main;
    font-size: 3.6rem;
    margin: 4rem 0;
    text-align: center;
  }
  .features {
    .flex-column-center;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-around;
    }

    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // width: 90%;
      height: 40%;
      padding: 3rem;
      border: 2px solid black;

      @media (min-width: 768px) {
        width: 40%;
        height: 25vh;
      }

      h2 {
        font-family: @font-main;
        font-size: 1.8rem;
      }

      p {
        font-family: @font-text;
        font-size: 1.6rem;
        padding: 2rem;
      }
    }
  }
}
